.demo-files-table {
    border: 1px solid #222;
    margin-bottom: 20px;
}

.demo-files-table th,
td, th {
    padding: 10px;
}
th {
    text-align: left;
}
textarea {
    margin-left: 10px;
}
.demo-files-table th {
    background: #222;
    color: #fff;
    text-align: left;
}

.demo-files-table tr:nth-child(odd) td {
    background: #ccc;
}
