* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url("/tausta.jpg");
    background-size: cover;
    border: 10px solid rgba(0, 177, 186, 0.9);
    min-height: 100%;
}

.App {
}

.App-logo {
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-width: 150px;
}

.App-useExamples {
    position: fixed;
    top: 42px;
    right: 30px;
    font-weight: bold;
}

.react-tabs {
    margin-top: 10px;
    padding-right: 150px;
}

.react-tabs__tab-panel {
    padding: 20px;
}

body .react-tabs__tab {
    padding: 20px;
    background: transparent;
    font-weight: bold;
    text-align: center;
}

body .react-tabs__tab--selected {
    background: #f5f5f5;
}

body .react-tabs__tab:first-child {
    margin-left: 10px;
}

.react-tabs__tab h3 {
    margin: 0;
}

.react-tabs__tab span {
    font-size: smaller
}
